$theme_color_default: #6272A4;
$theme_color_blue:    #8BE9FD;
$theme_color_purple:  #BD93F9;
$theme_color_pink:    #FF79C6;
$theme_color_red:     #FF5555;
$theme_color_orange:  #FFB86C;
$theme_color_yellow:  #F1FA8C;
$theme_color_green:   #50FA7B;
$theme_color_grey:    #6272A4;
